<div class="blog-block about-sidebar-widget">
  {% if site.author.headshot contains "https://" %}
  <img class="img-me" src="{{ site.me-img }}" alt="">
  {% else %}
  <img src="{{ BASE_PATH }}/assets/images/{{ site.author.headshot }}">
  {% endif %}
  <h4><a href="{{ site.author.site }}">{{ site.author.name }}</a></h4>
  <p>{{ site.author.description }}</p>
  {% include social-block.html %}
</div>

<div class="mb-60"></div>

<div class="blog-block blog-posts-widget side-bar sticky-top">
  <div class="widget-title">
    <h4>Download Resume</h4>
  </div>
  <div>
    <h7>Social Sciences - <a href="" download>Resume</a></h4>
  </div>
  <div>
    <h7>STEM & Engineering - <a href="{{ BASE_PATH }}/assets/resumes/Resume_IanMoritz_Tech.pdf" download>Resume</a></h4>
  </div>
</div>