<div class="blog-block about-sidebar-widget">
  {% if site.author.headshot contains "https://" %}
  <img class="img-me" src="{{ site.me-img }}" alt="">
  {% else %}
  <img src="{{ BASE_PATH }}/assets/images/{{ site.author.headshot }}">
  {% endif %}
  <h4><a href="{{ site.author.site }}">{{ site.author.name }}</a></h4>
  <p>{{ site.author.description }}</p>
  {% include social-block.html %}
</div>

<div class="mb-60"></div>

<div class="blog-block blog-posts-widget side-bar sticky-top">
  <div class="widget-title">
    <h4>Download Resume</h4>
  </div>
  <div>
    <h4>Social Sciences - Resume</h4>
  </div>
  <div>
    <h4>STEM & Engineering - Resume</h4>
  </div>
</div>